body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  height: 80vh;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
